---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/Icons/LinkedIn.astro';
import SocialPill from '../components/SocialPill.astro';
import GithubIcon from '../components/Icons/Github.astro';
import MailIcon from '../components/Icons/Mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import BriefCaseIcon from '../components/Icons/Briefcase.astro';
import CodeIcon from '../components/Icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout 
title="Porfolio de Nico Valdez."
description="Contrata a Nico Valdez como Desarrollador Back-End">
	<main class="px-4">
	<SectionContainer class="py-44 pb-32">
		<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
			Hey, soy Nico Valdez 
			<a 
			href="https://www.linkedin.com/in/rub%C3%A9n-nicol%C3%A1s-alvarenga-valdez-02818125b/"
			target="_blank"
			rel="noopener"
			class="flex justify-center items-center">
				<Badge></Badge>
			</a>
		</h1>
		<h2 class="text-xl lg:text-2xl text-wrap max-x-[700px]">+1 Año de Experiencia en Back-End.
			 <span class="text-yellow-200/90 ">Estudiante de la Carrera Analisis de Sistemas en el 4to Año.</span> 
			<span class="opacity-85">De Capiata-Paraguay</span>
		</h2>
		<nav class="flex gap-4 mt-8 flex-wrap">
			<SocialPill href="https://www.linkedin.com/in/rub%C3%A9n-nicol%C3%A1s-alvarenga-valdez-02818125b/">
				<LinkedInIcon class="size-4 md:size-6"/>
					LinkendIn
			</SocialPill>
			<SocialPill href="https://github.com/n-valdez">
				<GithubIcon class="size-4 md:size-6"/>					Github
			</SocialPill>
			<SocialPill href="mailto:nicolas.alva222@gmai.com">
				<MailIcon class="size-4 md:size-6"/>
					nicolas.alva222@gmail.com
			</SocialPill>
				
		</nav>
	</SectionContainer>

    <SectionContainer id="experiencia" >
		<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
			<BriefCaseIcon class="size-4 lg:size-9"/>
			Experiencia Laboral
		</h2>
		<Experience/>
	</SectionContainer>

	<SectionContainer id="proyectos" >
		<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
			<CodeIcon class="size-4 lg:size-9"/>
			Proyectos
		</h2>
		<Projects/>
	</SectionContainer>

	</main>
</Layout>

