<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img
    class="rounded-full size-6" 
    src="https://th.bing.com/th/id/R.b2b34517339101a111716be1c203f354?rik=e5WHTShSpipi3Q&pid=ImgRaw&r=0" 
    alt="PerfilNico"/>

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre mi</a>
        <a href="#contacto">Contacto</a>    
    </nav>

</header>